.inputForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 20%;
}

.buttons {
  align-self: flex-end;
}

.buttons > button {
  margin-left: 1rem;
}

.inputForm label {
  padding-top: 2rem;
  color: grey;
  font-weight: 600;
}

.inputForm input,
.inputForm textarea {
  border: none;
  border-radius: 3px;
  border-bottom: 2px solid grey;
  background-color: #e0e0e0;
  font-size: 1.5rem;
  padding: 2px 5px;
}

.inputForm > :last-child {
  border-bottom: 2px solid black;
}
