.navigation {
  flex: 1;
  padding: 3rem 2rem;
  margin-top: 10vh;
  border-top-right-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  color: white;
  background-color: black;
}

.projects {
  align-self: stretch;
}

.projects > li {
  padding: 2px 5px;
  font-size: 1.5rem;
  color: dimgray;
  margin-bottom: 1rem;
}

.projects > li:hover,
.projects > li.active {
  background-color: rgb(59, 59, 59);
  color: white;
  border-radius: 3px;
  cursor: pointer;
}
